header, footer {
    background-color: var(--bg-color-grey);
}

.btn-danger {
    background-color: var(--bg-color-red);
    border-color: var(--color-main);
    color: var(--color-main);
}

.far-galaxy {
    letter-spacing: 0.1em;
    text-align: justify;
}


.float-start img, .img-shadow {
    box-shadow: 0.6rem 0.6rem 0.6rem var(--color-main);
}


/*.right img:nth-last-child(3) {*/
/*    border-radius: 0 0 0 16px;*/
/*}*/

/*.right img:nth-last-child(1) {*/
/*    border-radius: 0 0 16px 0;*/
/*}*/


footer {
    height: 6rem;
    /*border-radius: 0 0 16px 16px;*/
    /*align-content: center;*/
}


/*footer > .button {*/
/*margin-left: 300px;*/
/*}*/

